.env*
*.gpg
*.user
*.local.json

.vs/*

package-lock.json

Test1/bin
Test1/obj
Test1.Tests/bin
Test1.Tests/obj
*.config
/.vs/gi-engineering-interview-tests/v17/.wsuo
/.vs/gi-engineering-interview-tests/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
*.bin
*.db
*.v2
*.vsidx
*.suo
/BackendDeveloperTest1/.vs/Test1.slnx/v17/DocumentLayout.backup.json
/BackendDeveloperTest1/.vs/Test1.slnx/v17/DocumentLayout.json
*.wsuo
/BackendDeveloperTest1/.vs/Test1.slnx/v18/DocumentLayout.backup.json
/BackendDeveloperTest1/.vs/Test1.slnx/v18/DocumentLayout.json
/BackendDeveloperTest1/Test1/bin/Debug/net10.0/runtimes
/BackendDeveloperTest1/Test1/bin/Debug/net10.0
/BackendDeveloperTest1/Test1/obj
/BackendDeveloperTest1/Test1.Tests/obj
